.header {
  color: white;
  background-color: var(--secondary);
  box-shadow: 0 0 2px 0 var(--secondary);
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.header h1 {
  margin-right: auto;
}

.header nav {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  width: 100%;
  margin: 0 10px;
}

.header a {
  color: white;
}

.active {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .header h1 {
    font-size: 24px;
  }
  .header input {
    max-width: 150px;
  }
}
