.side-menu {
  margin: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  background-color: var(--secondary);
  color: white;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 2px 0 var(--secondary-dark);
}

.side-menu button {
  margin: 10px;
  padding: 10px;
  background-color: white;
  color: var(--secondary-dark);
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 5px 0 var(--secondary-dark);
}

.side-menu button:hover {
  box-shadow: none;
}

.side-menu .add {
  display: flex;
  align-items: center;
  gap: 5px;
}

.side-menu .active-chat {
  background-color: var(--secondary-dark);
  color: white;
  box-shadow: none;
  cursor: default;
}
