.side-menu {
  margin: 10px 10px auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  color: white;
  border-radius: 5px 5px;
  box-shadow: 0 0 5px 0 var(--secondary);
}

.side-menu a {
  margin: 10px;
  padding: 10px;
  background-color: white;
  color: var(--secondary-dark);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 1px var(--secondary-dark);
  text-align: center;
}

.side-menu a:not(.active-chat):hover {
  background-color: var(--secondary-dark);
  color: white;
}

.side-menu .active-chat {
  background-color: var(--secondary);
  color: white;
  box-shadow: none;
  cursor: default;
}

.side-menu .add {
  display: flex;
  align-items: center;
  gap: 5px;
}
