.side-menu {
  margin: 10px 10px auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  /* background-color: var(--secondary); */
  color: white;
  border-radius: 5px 5px;
  box-shadow: 0 0 5px 0 var(--secondary);
}

.side-menu a {
  margin: 10px;
  padding: 10px;
  background-color: white;
  color: var(--secondary-dark);
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 5px 0 var(--secondary-dark);
  text-align: center;
}

.side-menu a:hover {
  box-shadow: none;
}

.side-menu .add {
  display: flex;
  align-items: center;
  gap: 5px;
}

.side-menu .active-chat {
  background-color: var(--secondary);
  color: white;
  box-shadow: none;
  cursor: default;
}
