:root {
  --primary: rgba(0, 0, 0, 0.54);
  --secondary: #689cd2;
  --secondary-dark: #04376c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--secondary-dark);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}
