.add-dialog {
  max-width: 1200px;
  margin: 10px;
  padding: 20px;
  color: var(--primary);
  box-shadow: 0 0 5px 0 var(--secondary);
  border-radius: 5px;
}

.add-dialog h2 {
  margin-bottom: 10px;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form input {
  color: var(--secondary-dark);
  background-color: white;
  border-radius: 5px;
  border: 2px solid var(--secondary);
  padding: 15px;
  width: 100%;
  outline: none;
}

.form input:focus-visible {
  border: 2px solid var(--secondary-dark);
}

.form button {
  width: 100px;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
}

.form button:hover {
  background-color: var(--secondary-dark);
}

.form button:active {
  color: var(--secondary-dark);
  background-color: white;
  box-shadow: 0 0 0 1px var(--secondary-dark);
}
