.messages {
  margin: 10px;
  padding: 20px;
  color: var(--primary);
  box-shadow: 0 0 5px 0 var(--secondary);
  border-radius: 5px;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.heading h2 {
  margin-bottom: 10px;
}

.heading button {
  padding: 10px;
  color: var(--secondary-dark);
  background-color: white;
  border: none;
  border-radius: 5px;
}

.heading button:hover {
  color: white;
  background-color: var(--secondary-dark);
}

.heading button:active {
  color: white;
  background-color: lightgray;
}

@media (max-width: 900px) {
  .messages h2 {
    font-size: 20px;
  }
}
