.message {
  color: white;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  overflow: visible;
  line-height: 1.5;
  word-break: break-all;
}

.author {
  padding: 5px;
  margin-right: 10px;
  background-color: white;
  color: var(--secondary);
  border-radius: 5px;
}
